*{
    margin: 0;
    padding: 0;
}
.logo{
    margin-top: 10px;
    padding-left: 20px;
    height: 80px;
}
.call{
margin-top: -60px;
margin-left: 50%;
}
.searchbar{
    margin-top: -10px;
    width: 30px;
margin-left: 80%;
display: flex;

}
.body01{
    justify-content: center;
}
.search{
    margin-top: -40px;
    border-color: black;
width: 200px;
height: 25px;
border-radius: 10px;
padding-left: 10px;
border: none;
outline: none;
border: 1px solid gray;
}
.selectedtabel01{
    border: 2px soild black;
    position:relative;
}
.s1{
    width: 8px !important;
    height: 8px !important;
    margin-top: -18px;
    margin-left: -35px;
    cursor: pointer;
}

.navbar-nav{
    background-color: #2b86a7;
    margin-top: 20px;
    height: 50px;
    width: 1262px;
    display: flex;
    flex-direction: row;
padding-left:20px;
padding-right: 450px;
}

.navbar-collapse{
height: 20px;

}
.nav-item {
    color: white;
    flex:20%;
    margin-top: 7px;
}

.bgimg{
    margin-top: -5px;
    height: 100vh;
    width: 100%;
}
.sign{
display: flex;
flex-direction: row-reverse;
margin-top: -20px;
padding-right: 5px;


}
#bt1{
    
    margin-left: 70px;
}
#bt2{
    margin-right:100px;
}
.text01{
    position: absolute;
    border: 1px solid black;
    background-color: #2d86a7;
    margin-top: -400px;
    margin-left: 50%;
    width: 400px;
    height: 100px;
    padding: 9px;
    opacity: 0.9;
    color: white;
}
.boldtext01{
    color: white;
    font-size: 20px;
    font-family: cursive;
}
.normalp01{
    font-size: 13px;
    
    
}
.text02{
    
    border: 1px solid black;
    background-color: #064ef7;
    margin-top: -270px;
    margin-left: 50%;
    width: 300px;
    height: 50px;
    padding: 9px;
    opacity: 0.8;
    color: white;
    display: flex;
    flex-direction: row;
}

.boldtext02{
    font-size: 15px;
}
.normalp02{
    padding-top: 2px;
    font-size: 10px;
}
.booktrip{
    position:absolute;
    margin-top:-215px;
    margin-left:-120px;
    
}
.normaltext01{
    border: 1px soild black;
    background-color: black;
    padding-right: 20px;
    margin-left: 250px;
    margin-top:102px;
    position: relative;
    color: white;
    width: 140px;
    padding: 10px;
    bottom: -70px;
    border-radius: 20px 20px 0 0;
}
.hname{
    width: 100px;
}
.what{
    padding-right:70px ;
    
}
.whatdiv{
    margin-top: 140px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    border: 5px soild black;
    background-color: white;
    width: 75%;
    margin-left: 130px;
    
    
}

.row01{
    padding-right: 20px;
    margin-left: 30px;
}
.whocontent{
    display: flex;
    flex-direction: row;
}
.who{
    padding-right: 180px;
}
.hname2{
    margin: 10px;
    margin-top: 6px;
}
.searchred{
    border: 1px soild red;
    background-color: red;
    color: white;
    width: 70px;
    height: 30px;
    padding: 4px;
}
.ph01{
    margin-left: 130px;
    width: 70%;
    /* margin-top: 85px; */

}
.ph01::after{
    content: "";
    margin-top: 25px;
    width:65%;
    position: absolute;
   background-color:gray;;
    height: 1px;  
}


.taj01{
    padding: 20px;
    margin-left:5px;
}
.popimg{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.dh01{
    margin-left: 130px;
    width: 70%;
}
.dh01::after{
    content: "";
    margin-top: 25px;
    width:70%;
    position: absolute;
   background-color:gray;;
    height: 1px; 
}
.popprice{
    margin-left:250px;
    margin-top: -20px;
    color: white;
    background-color: #2b86a7;
    padding-left: 3px;
}
.popimg2{
    display: flex;
    flex-direction: row;
    margin-left: 1px;
   
}
.paris{
    padding-left: 80px;
}
.paris1{
    margin-left: 100px;
    
}
.paris2{
    margin-left: 100px; 
}
.smallt1{
    border: 1px solid black;
    margin-top: 30px;
    position: relative;
    margin-bottom:40px;
    width: 85%;
    margin-left: 100px;
}
.blog{
    
    text-align: center;
    margin-right: 850px;
    margin-bottom:-30px;
}
.india{
    text-align: center;
    margin-bottom: 2px;
    margin-top:2px;
}
.mainfooter{
    display:flex;
    flex-direction: row;
    
}
.co1{
    padding:70px;
}
.sub{
    background-color: #2b86a7;
}
#� �t�r�a�v�e�l�-�w�e�b�
�
�
@media screen and (max-width: 420px) {
.call{
margin-top: 0px;
margin-left: 25%;
}
}
